.DS_Store
.htmlhintrc
.stylelintrc
.eslintrc.json

index - originalCopy.html
My github remote url_memory game.txt

css/app - originalCopy.css

js/app - originalCopy.js
js/app02.js
js/z_app.js
js/z_functions.js
js/todo.js


img/geometry2 - originalCopy.png

notes/