.DS_Store
.htmlhintrc
.stylelintrc
.eslintrc.json

notes/
index - originalCopy.html
My github remote url_memory game.txt
js/app - originalCopy.js
img/geometry2 - originalCopy.png
css/app - originalCopy.css

